---
// Imports
import BaseLayout from '../../layouts/BaseLayout.astro'
import EditInstruction from '../../components/EditInstrucions.vue'
import {getPatternName} from "../../util/get-pattern-name";
import {getModelsList, openai} from "../../util/openai";
//Logic
export const prerender = false
const {slug} = Astro.params
const allModels = await getModelsList()
const models = allModels.filter(model => model.includes('gpt'))
const patterns = await Astro.glob('../../../../../../patterns/**/system.md')
const selected = patterns.filter(pattern=>pattern.file.includes(slug!))
const rawContent = selected[0].rawContent();

---
<BaseLayout title={getPatternName(slug!)}>
    <h1 class="capitalize text-5xl my-10">{getPatternName(slug!)}</h1>
    <EditInstruction client:idle markdownContent={rawContent} models={models}/>
</BaseLayout>
