---
// Component Imports
import Counter from "../components/Counter.vue";
import BaseLayout from "../layouts/BaseLayout.astro";
import {getModelsList, loadApiKey, normalCompletion} from "../util/openai";
// import {loadApiKey, normalCompletion} from "../util/openai";

 getModelsList()
// const answer = await normalCompletion("I want a function to call a stream completion of text" +
//     " generation" +
//     " of openai" +
//     " using the openai npm packages. This function will be used in an endpoint inside astro that" +
//     " will stream that back")
// console.log(answer.choices[0].message.content)
---

<BaseLayout title="Home" header="">
  <h1 class="text-5xl py-10 capitalize">Hello from Astro and Vue</h1>
  <section>
    <Counter client:visible>
      <h1>Hello, Vue!</h1>
    </Counter>
  </section>
</BaseLayout>
