---
import GameContainer from '../components/GameContainer.vue';
---
<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto text-center">
        <h2 class="text-4xl font-bold">Minesweeper Vue.js</h2>
        <h5 class="text-sm mt-2">
            Based on the classic game,
            <a class="text-blue-500" target="_new" href="http://en.wikipedia.org/wiki/Minesweeper_(video_game)">
                Minesweeper
            </a>
        </h5>
<GameContainer client:idle />


    </div>
</div>